<!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer modal-close">
    <div class="modal-content">
      <h4>Login to Test</h4>
      <div class="center-align"><i class="material-icons" style="font-size: 120px;">person_pin</i></div>
      <div class="row">
        <form class="container" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="input-field col s12">
              <input [(ngModel)]="username" id="username" type="text" class="validate" name="first" required>
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input [(ngModel)]="password" id="password" type="password" class="validate" name="first" required>
              <label for="password">Password</label>
            </div>
          </div>
            <button type="submit" class="modal-action waves-effect waves-green btn-flat teal" style="width: 100%; color: #fff;">Submit</button>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="container">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" style="float: left; background: #f44336; color: #fff; margin-left: 10px;">Cancel</a>
          <a href="#!" style="float: right; margin: 15px 25px 0px 0px; color: #444;">Forgot password</a>
      </div>
    </div>
  </div>
